@model IEnumerable<BookStore.Models.agency>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.agency_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agency_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agency_phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.agency_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agency_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agency_phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.agency_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.agency_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.agency_id })
        </td>
    </tr>
}

</table>
